{% extends 'base.html' %}
<!-- prettier-ignore -->
{% load static %}
<!-- prettier-ignore -->
{% block title %} {{ blog.titulo }} {% endblock %}
<!-- prettier-ignore -->
{% block content %}
<!-- Sección de Contacto -->
<section class="contact-section my-5 base-container">
  <h2 class="text-center mb-4">{{ blog.titulo }}</h2>
  <p class="text-center text-muted">
    Publicado el {{ blog.fecha_publicacion|date:"d M Y" }}
  </p>
  <div class="row">
    <div class="col-md-12">
      {% if blog.nombre_imagen %}
      <div class="row">
        <div class="col-md-6">
          <img
            src="{% static 'images/blogs/'|add:blog.nombre_imagen %}"
            class="blog-detail-img rounded mb-4 img-fluid w-100"
            alt="{{ blog.titulo }}"
          />
        </div>
        <div class="col-md-6">
          <p>{{ blog.contenido }}</p>
        </div>
      </div>
      {% else %}
      <p>{{ blog.contenido }}</p>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
