{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore -->
{% block title %}Eventos{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<section class="my-5">
  <h1 class="text-center">Eventos</h1>
  <div class="row">
    {% for evento in eventos %}
    <div class="col-md-4">
      <div class="card mb-4">
        {% if evento.nombre_imagen %}
        <img
          src="{% static 'images/eventos/'|add:evento.nombre_imagen %}"
          class="card-img-top"
          alt="{{ evento.titulo }}"
        />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ evento.titulo }}</h5>
          <p class="card-text">{{ evento.fecha|date:"d M Y H:i" }}</p>
          <p class="card-text">{{ evento.descripcion }}</p>
          {% if evento.es_oracion %}
          <span class="badge bg-primary">Encuentro de Oración</span>
          {% endif %}
        </div>
      </div>
    </div>
    {% empty %}
    <p class="text-center">No hay eventos programados.</p>
    {% endfor %}
  </div>
</section>
{% endblock %}
