{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore -->
{% block title %}Recursos{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<section class="my-5">
  <h1 class="text-center">Recursos</h1>
  <div class="row">
    {% for recurso in recursos %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ recurso.titulo }}</h5>
          <p class="card-text">Tipo: {{ recurso.tipo }}</p>
          <a href="{{ recurso.url }}" class="btn btn-primary">Acceder</a>
        </div>
      </div>
    </div>
    {% empty %}
    <p class="text-center">No hay recursos disponibles.</p>
    {% endfor %}
  </div>
</section>
{% endblock %}
