/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Great+Vibes&display=swap');
@font-face {
  font-family: 'Greatvibes-Regular';
  src: url("../fonts/GreatVibes-Regular.f8ab2af266e7.ttf") format('truetype');
}

.cursor-pointer {
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f8f9fa;
  padding-top: 10px; /* Altura aproximada de la barra superior */
  margin: 0;
}

@media (max-width: 768px) {
  body {
    padding-top: 80x; /* Aumentar el espacio en pantallas pequeñas */
  }
}

/* ___________________ 
   Estilos para Welcome 
   ___________________ */

.welcome-section {
  position: relative;
  width: 100%;
  height: 75vh; /* La sección ocupa toda la altura de la pantalla */
  overflow: hidden;
  margin-top: 6.5rem;
}

.welcome-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra completamente el contenedor */
}

.welcome-overlay {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Fondo semitransparente para mejorar la legibilidad del texto */
  display: flex;
  justify-content: center;
}

.welcome-text {
  color: white;
  font-family: 'Roboto', sans-serif; /* Usa la fuente Roboto */
  font-size: 2.7rem; /* Tamaño grande para destacar */
  text-align: center;
  margin-top: 20px; /* Mueve el texto hacia arriba */
  transform: translateY(-30%); /* Ajusta la posición vertical */
  text-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.9), /* Sombra oscura cercana */
    4px 4px 8px rgba(0, 0, 0, 0.8); /* Sombra oscura para resaltar */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .welcome-section {
    margin-top: 1rem;
  }
  
  .welcome-image {
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor */
    margin-top: -2rem;
  }
  .welcome-overlay {
    top: 35%;
    background-color: rgba(0, 0, 0, 0.01);
  }
  .welcome-text {
    font-size: 1.5rem;
  }
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-short {
  width: 100%;
  max-width: 220px; /* Ajusta el tamaño máximo del video */
  height: 320px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ___________________ 
   Estilos para NavBar 
   ___________________ */

  .navbar {
    padding: 0.5rem 0.1rem; /* Más espacio horizontal */
  }
  
  .navbar.fixed-top {
    z-index: 1030;
  }

  .navbar .text-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem; /* Espaciado entre los elementos del bloque */
  }
  
  .navbar .text-center {
    text-align: center; /* Alineación del texto */
  }
  
  .navbar .drawer-logo {
    width: 100px; /* Tamaño reducido del logo */
    height: auto;
  }
  
  .navbar .denomination-text {
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .navbar .welcome-text {
    font-size: 1.5rem; /* Tamaño ajustado */
    font-family: 'Greatvibes-Regular', cursive, bold;
    color: #004080;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .navbar .pj-number-black,
  .navbar .pj-number-blue {
    font-size: 0.5rem; /* Tamaño ajustado */
    padding-top: 0px;
    padding-bottom: 0px;
  }

.offcanvas-body .nav-link {
  color: #000000;
  font-size: 1.1rem;
  background-color: #ffffff;
}

.offcanvas-body .nav-link:hover {
  color: #6ea9e8;
  background-color: #ffffff;
}

.offcanvas-body .nav-link.active-link {
  background-color: #87CEEB; /* Color de fondo azul cielo */
  color: #000; /* Color de texto negro */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar elementos horizontalmente */
    text-align: center; /* Alinear texto al centro */
  }

  .navbar .drawer-logo {
    margin-bottom: 0.2rem; /* Espacio entre el logo y el texto */
    width: 60px; /* Tamaño reducido del logo */
  }

  .navbar .text-start {
    align-items: center; /* Centrar el bloque de texto */
  }

  .navbar .denomination-text {
      font-size: 0.4rem; /* Reducir aún más el tamaño de fuente */
  }

  .navbar .welcome-text {
      font-size: 1.2rem; /* Reducir aún más el tamaño de fuente */
  }

  .navbar .pj-number-black,
  .navbar .pj-number-blue {
    font-size: 0.3rem; /* Reducir aún más el tamaño de fuente */
  }
}

/* ______________________ 
   Estilos para Secciones 
   ______________________ */
   .home-section {
    padding: 2rem 0;
  }
  
  .card-img {
    object-fit: cover;
    height: 100%;
  }
  
  .invitacion-img {
    max-width: 100%;
    height: auto;
  }

/* ___________________ 
   Estilos para Footer 
   ____________________ */

.footer {
  background-color: #2c3e50; /* Azul oscuro */
  color: #fff;
  padding: 0px 0;
  font-size: 15px;
}

.footer h6 {
  font-family: "Playfair Display", serif, bold;
  color: #fff;
  margin-bottom: 20px;
}

.footer a {
  font-size: 15px;
  color: #a3bffa;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.social-icon {
  width: 30px;
  height: 30px;
}

/* _________________ 
   Estilos para Home 
   _________________ */

.home-section {
  padding: 20px 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 1200px;
}

.home-background {
  background-image: url("../images/fondo_cristiano_2.947d823c81cc.jpg"); /* Ajusta el nombre de tu imagen */
  background-size: cover;
  background-color: rgb(138, 232, 251);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

/* Opcional: Oscurecer el fondo para mejor legibilidad */
.home-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); /* Capa oscura semitransparente */
  z-index: 1;
}

.home-background .container {
  position: relative;
  z-index: 2;
  color: #000000;
}

.home-background section {
  position: relative;
  z-index: 2; /* Contenido encima de la capa oscura */
}

/* _____________________ 
   Estilos para Eventos 
   _____________________ */

.evento-block .container {
  display: flex;
  overflow-x: auto;
}


.evento-block {
  background-color: #e8f4f8; /* Azul claro */
  text-align: center; /* Asegura que todo esté centrado */
}

.evento-block h5 {
  font-family: "Montserrat", sans-serif;
  color: #2c5282;
}

/* Ajuste para el título "Evento Destacado" */
.evento-block h3 {
  text-align: center;
  margin-bottom: 20px;
}

/* Ajuste para la imagen del evento destacado */
.evento-block .card-img {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 10px; /* Bordes redondeados */
}

.eventos-section {
  padding-top: 5rem; /* Ajusta el padding superior para evitar superposición */
  background-color: #f9f9f9; /* Fondo claro */
}

.eventos-section h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #2c5282; /* Azul profundo */
  margin-bottom: 40px; /* Más espacio después del título */
}

/* Centrar las tarjetas en la página */
.row.justify-content-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; /* Ancho máximo para centrar */
}

/* Espaciado entre tarjetas */
.col-md-4 {
  margin-bottom: 30px; /* Más espacio vertical */
  padding-left: 15px; /* Espacio horizontal */
  padding-right: 15px;
}

.col-md-5 {
  display: flex;
  align-items: center; /* Centra la imagen verticalmente */
  justify-content: center; /* Centra la imagen horizontalmente */
  padding: 1rem; /* Espaciado interno para evitar recortes */
}

/* Estilos para las tarjetas de eventos */

.card {
  min-width: 300px; /* Ajustar el ancho mínimo de los cards */
  margin-right: 1rem;
}

.card-evento {
  border: none;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
  padding: 20px; /* Espaciado interno */
  height: 80%; 
  display: flex;
  flex-direction: column;
}

.card-evento:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el mouse */
}

.card-evento img {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  max-height: 200px; /* Altura máxima para todas las imágenes */
  width: auto; /* Permite que el ancho se ajuste automáticamente */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  object-fit: cover; /* Recorta la imagen si es necesario para mantener la proporción */
  border-radius: 10px; /* Bordes redondeados para mejorar la apariencia */
}

.card-evento img:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Invitación */
.invitacion-block {
  background-color: #f9ebeb; /* Rosa claro */
}

.invitacion-text {
  font-family: "Montserrat", sans-serif; /* Fuente ancha y moderna */
  font-weight: 700; /* Peso ancho */
  font-size: 2rem; /* Tamaño grande */
  color: #c53030; /* Rojo suave */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra */
  line-height: 1.2; /* Espaciado para legibilidad */
  margin: 0; /* Sin márgenes adicionales */
}

.invitacion-img {
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* static/css/styles.css (añadir al final) */
.card1 {
  max-width: 500px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: box-shadow 0.3s ease; /* Transición para efecto hover */
  align-items: normal;
  padding: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al pasar el ratón */
  transform: translateY(-5px);
}

.card-img {
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
  height: 80%; /* Asegura que la imagen tenga la misma altura que el contenedor */
}

@media (max-width: 768px) {
  .header-image-container {
    height: 30vh; /* Ajusta la altura para dispositivos móviles */
  }

  .header-text-overlay h2 {
    font-size: 2rem;
  }

  .card {
    flex-direction: column; /* Cambia la dirección del flex para dispositivos móviles */
  }

  .card-img {
    height: auto; /* Ajusta la altura automáticamente en dispositivos móviles */
  }

  .eventos-section {
    padding-top: 3rem; /* Ajusta el padding superior para dispositivos móviles */
  }
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-family: "Montserrat", sans-serif, bold;
  font-size: 1rem;
  font-weight: 700;
  color: #a36508; /* Texto blanco para contrastar con el fondo */
  margin-top: 0px;
  margin-bottom: 10px;
}

.card-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #a36508; /* Texto gris claro para contrastar */
  margin-bottom: 8px;
  flex-grow: 1; /* Permite que el texto ocupe más espacio si es necesario */
}

/* Ajuste de tamaño de imágenes en Home y Blogs */
.card-img-top-even {
  max-height: 520px;
  max-width: 360px;
  object-fit: contain;
  padding: 10px;
}

.card2 {
  max-width: 600px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: box-shadow 0.3s ease; /* Transición para efecto hover */
  align-items: normal;
  padding: 20px;
}
.card-img-top-blog {
  max-height: 180px;
  max-width: 220px;
  object-fit: contain;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-img-top-equipo {
  max-height: 120px;
  max-width: 120px;
  object-fit: contain;
  padding: 7px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Efecto hover para imágenes clicables */
.card-img-top:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* ______________________ 
   Estilos para Carrusel 
   ______________________ */

#eventCarousel {
  margin-top: 2rem;
}

.carousel-indicators button {
  background-color: #004080; /* Color de los indicadores */
  border-radius: 50%; /* Forma circular */
  width: 10px;
  height: 10px;
}

.carousel-indicators .active {
  background-color: #87ceeb; /* Color del indicador activo */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #004080; /* Color de las flechas */
  border-radius: 50%;
  padding: 10px;
}

.card1 {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card1:hover {
  transform: translateY(-5px); /* Efecto hover */
}

.card-img-top-even {
  max-height: 150px; /* Altura máxima de la imagen */
  object-fit: cover;
  border-radius: 10px;
}

/* ___________________ 
   Estilos para Blog 
   ___________________ */

/* Blog */
.blog-block {
  background-color: #e6ffe6; /* Verde claro */
}

.blog-block h3 {
  font-family: "Roboto Slab", serif;
  color: #276749;
}

/* Ajuste para imágenes en la pantalla de detalle */
.blog-detail-img {
  max-height: 300px; /* Tamaño máximo en detalle */
  width: 90%;
  object-fit: contain; /* Muestra la imagen completa */
}

.informative-row {
  padding: 20px 0; /* Espacio vertical */
}

.content-row {
  padding: 20px 0;
}

.informative-row img,
.informative-row iframe {
  max-width: 100%; /* Ajusta imagen o video al ancho */
  background-color: #f8f9fa;
  height: auto;
}

/* ________________________ 
   Estilos para Acerca de 
   ________________________ */

.about-section {
  padding: 0 30px; /* Margen externo a los lados */
  max-width: 1200px; /* Ancho máximo para centrar */
  margin-left: auto;
  margin-right: auto;
}

.about-block {
  padding: 20px; /* Margen interno */
  border-radius: 10px; /* Bordes redondeados */
}

/* Remembranza */
.remembranza-block {
  background-color: #f4f1de; /* Amarillo claro */
}

.remembranza-block .about-title {
  font-family: "Playfair Display", serif;
  color: #8d5524; /* Marrón suave */
}

.remembranza-block .about-text {
  font-family: "Lora", serif;
  color: #6b4e31;
}

/* Historia */
.historia-block {
  background-color: #e8f4f8; /* Azul claro */
}

.historia-block .about-title {
  font-family: "Montserrat", sans-serif;
  color: #2c5282; /* Azul oscuro */
}

.historia-block .about-text {
  font-family: "Open Sans", sans-serif;
  color: #4a5568;
}

/* Misión y Visión */
.mision-vision-block {
  background-color: #e6ffe6; /* Verde claro */
}

.mision-vision-block .about-title {
  font-family: "Roboto Slab", serif;
  color: #276749; /* Verde oscuro */
}

.mision-vision-block .about-text {
  font-family: "Source Sans Pro", sans-serif;
  color: #4a704a;
}

/* Equipo */
.equipo-block {
  background-color: #f9ebeb; /* Rosa claro */
  padding: 20px;
  border-radius: 10px;
}

.about-title {
  font-family: "Playfair Display", serif; /* Tipografía diferente para títulos */
  color: #2c3e50; /* Azul oscuro */
  margin-bottom: 15px;
}

.about-text {
  font-family: "Open Sans", sans-serif; /* Tipografía diferente para texto */
  color: #555;
  margin: 0 20px; /* Márgenes equilibrados */
  line-height: 1.6;
}

.about-img {
  max-height: 280px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-card {
  background-color: #fff; /* Blanco para contraste */
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.team-card:hover {
  transform: translateY(-5px); /* Efecto al pasar el ratón */
}

.team-img {
  height: 100px; /* Altura fija */
  width: 100px; /* Ancho fijo */
  object-fit: cover; /* Recorta para ajustar */
  margin: 0 auto; /* Centra la imagen */
  display: block; /* Asegura el centrado */
}

.team-name {
  font-family: "Playfair Display", serif;
  color: #007bff; /* Azul para nombres */
  margin-bottom: 10px;
}

.team-role {
  font-family: "Open Sans", sans-serif;
  color: #666;
}

/* ______________________ 
   Estilos para Contacto 
   ______________________ */

/* Estilos generales */
.contacto-section {
  padding: 45px 20px;
  background-color: #f8f9fa; /* Fondo claro */
}

.contacto-section h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #2c5282; /* Azul profundo */
  margin-bottom: 40px;
}

/* Bloques de información, mapa y formulario */
.info-block,
.map-block,
.form-block {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.info-block {
  background-color: #c264c5;
  color: #fff; /* Texto blanco */
}

.contact-info {
  margin-bottom: 0.4rem;
  line-height: 1.5;
}

.map-block {
  background-color: #89c037; /* Blanco */
}

#map {
  width: 100%;
  height: 300px; /* Altura del mapa */
  border-radius: 12px;
}

.form-block {
  background-color: #0ed9d9;
  color: #fff; /* Texto blanco */
}

/* Títulos dentro de los bloques */
.info-block h3,
.form-block h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

/* Etiquetas y campos del formulario */
.form-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #fff; /* Texto blanco en el formulario */
}

.form-control {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #fff; /* Borde blanco al enfocar */
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

/* Botón de envío */
.btn-light {
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #2c5282; /* Azul profundo */
  transition: background-color 0.3s ease;
}

.btn-light:hover {
  background-color: #f0f0f0; /* Gris claro */
}

/* Botón de blog */ 
.btn-primary {
  background-color: #2c5282;
  border: none;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffffff; /* Azul profundo */
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #2b6cb0;
  border-color: #2b6cb0;
}

/* ________________________ 
   Estilos para Downloads 
   ________________________ */

.card-dow {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}
.card-dow:hover {
  transform: translateY(-5px);
}
.card-dow-img-top {
  height: 200px;
  object-fit: contain; /* Asegura que la imagen se ajuste completamente dentro del contenedor */
}